// переменные

$accent-color: #2196f3;
$main-color: #757575;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #afb1b8;
$black-brown-color: #212121;
$periwinkle-color: #f5f4fa;
$granite-color: #2f303a;
$twitter-color: #188ce8;
$smoky-white-color: #ececec;
$smoky-color: #eeeeee;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$font-family-accent: Raleway, sans-serif;
$font-family-main: Roboto, sans-serif;
$font-weight-accent: 700;


